# Binaries for all platforms
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
jend
jend_test_*

# Logs and PIDs
*.log
*.pid
history.jsonl

# Test output
*.out
testdir/
output/
output_*
test_data/
received_large/
downloads/
*_payload.txt
test*.txt
debug_code.txt
*.bin
*.mp4

# OS Specific
.DS_Store
Thumbs.db

# IDE Specific (GoLand)
.idea/
*.iml