# Binaries for all platforms
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
jend

# Logs and PIDs
*.log
*.pid
history.jsonl

# Test output
*.out
testdir/
output_*
downloads/
*_payload.txt
test*.txt
debug_code.txt

# OS Specific
.DS_Store
Thumbs.db

# IDE Specific (GoLand)
.idea/
*.iml